In [271]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

conn = create_engine('postgresql://ubuntu@52.53.236.232:5432/collegesc')

%matplotlib inline

## Helper functions and other definitions

In [54]:
def query_data_def(conn, var_name):
    """
    var_name: name of column to query
    returns query from datadefinitions table showing definition of data
    """
    query = "SELECT * FROM datadefinitions WHERE developername='"+var_name+"';"
    return conn.execute(query).fetchall()

## Start with school table

In [211]:
school_all = """SELECT * FROM school;"""

In [212]:
school_df = pd.read_sql_query(school_all, conn)

In [213]:
school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 43 columns):
index                                   7703 non-null int64
id                                      7703 non-null int64
location.lat                            7703 non-null float64
location.lon                            7703 non-null float64
accreditor                              6805 non-null object
alias                                   2178 non-null object
branches                                7703 non-null int64
carnegie_basic                          7282 non-null float64
carnegie_size_setting                   7282 non-null float64
carnegie_undergrad                      7282 non-null float64
city                                    7703 non-null object
degree_urbanization                     0 non-null object
degrees_awarded.highest                 7703 non-null int64
degrees_awarded.predominant             7703 non-null int64
degrees_awarded.predominant_recoded     0 non-null object
faculty_salary                          4546 non-null float64
ft_faculty_rate                         4045 non-null float64
institutional_characteristics.level     7703 non-null int64
instructional_expenditure_per_fte       7270 non-null float64
locale                                  7282 non-null float64
main_campus                             7703 non-null int64
men_only                                7282 non-null float64
minority_serving.aanipi                 7282 non-null float64
minority_serving.annh                   7282 non-null float64
minority_serving.hispanic               7282 non-null float64
minority_serving.historically_black     7282 non-null float64
minority_serving.nant                   7282 non-null float64
minority_serving.predominantly_black    7282 non-null float64
minority_serving.tribal                 7282 non-null float64
name                                    7703 non-null object
online_only                             7282 non-null float64
operating                               7703 non-null int64
ownership                               7703 non-null int64
price_calculator_url                    7158 non-null object
region_id                               7703 non-null int64
religious_affiliation                   7109 non-null float64
url                                     7626 non-null object
state                                   7703 non-null object
state_fips                              7703 non-null int64
tuition_revenue_per_fte                 7270 non-null float64
under_investigation                     7703 non-null int64
women_only                              7282 non-null float64
zip                                     7703 non-null int64
dtypes: float64(21), int64(13), object(9)
memory usage: 2.5+ MB

In [214]:
school_df.under_investigation.value_counts()

0    7467
1     236
Name: under_investigation, dtype: int64

### Remove uninteresting columns or columns with explicit or encoded nulls

In [215]:
school_columns = list(school_df.columns.values)

In [216]:
school_columns.remove('index')
school_columns.remove('alias')
school_columns.remove('degree_urbanization')
school_columns.remove('degrees_awarded.predominant_recoded')
school_columns.remove('faculty_salary')
school_columns.remove('ft_faculty_rate')
school_columns.remove('price_calculator_url')
school_columns.remove('url')
school_columns.remove('zip')
school_columns.remove('carnegie_basic')
school_columns.remove('carnegie_size_setting')
school_columns.remove('carnegie_undergrad')
school_columns.remove('online_only')

## Select only interesting features and add/recode features

In [217]:
operating_query = 'SELECT \n"' + '","'.join(school_columns) + '"'
operating_query += """                       
                    FROM 
                        school"""

In [218]:
school_df = pd.read_sql_query(operating_query, conn)

In [219]:
school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 30 columns):
id                                      7703 non-null int64
location.lat                            7703 non-null float64
location.lon                            7703 non-null float64
accreditor                              6805 non-null object
branches                                7703 non-null int64
city                                    7703 non-null object
degrees_awarded.highest                 7703 non-null int64
degrees_awarded.predominant             7703 non-null int64
institutional_characteristics.level     7703 non-null int64
instructional_expenditure_per_fte       7270 non-null float64
locale                                  7282 non-null float64
main_campus                             7703 non-null int64
men_only                                7282 non-null float64
minority_serving.aanipi                 7282 non-null float64
minority_serving.annh                   7282 non-null float64
minority_serving.hispanic               7282 non-null float64
minority_serving.historically_black     7282 non-null float64
minority_serving.nant                   7282 non-null float64
minority_serving.predominantly_black    7282 non-null float64
minority_serving.tribal                 7282 non-null float64
name                                    7703 non-null object
operating                               7703 non-null int64
ownership                               7703 non-null int64
region_id                               7703 non-null int64
religious_affiliation                   7109 non-null float64
state                                   7703 non-null object
state_fips                              7703 non-null int64
tuition_revenue_per_fte                 7270 non-null float64
under_investigation                     7703 non-null int64
women_only                              7282 non-null float64
dtypes: float64(15), int64(11), object(4)
memory usage: 1.8+ MB

### Add whether college is accredited or not

In [220]:
school_df['accredited'] = school_df.accreditor.map(lambda x: 1 if x else 0)

In [221]:
school_df.accredited.value_counts()

1    6805
0     898
Name: accredited, dtype: int64

### Recode locale to 4 values instead of 12

In [222]:
locale_recode = school_df.locale.astype(str).values

In [223]:
locale_recode = [int(x[0]) if x[0] in ['1','2','3'] else 0 for x in locale_recode]

In [224]:
school_df['locale_recode'] = locale_recode

In [225]:
school_df['locale_recode'].value_counts()

1    3509
2    2291
0     986
3     917
Name: locale_recode, dtype: int64

### Recode religion to religious and non-religious

In [226]:
religion_recode = (np.nan_to_num(school_df.religious_affiliation.values) > 0).astype(int)

In [227]:
np.unique(religion_recode)

array([0, 1])

In [228]:
school_df['religion_recode'] = religion_recode

In [229]:
school_df.religion_recode.value_counts()

0    6793
1     910
Name: religion_recode, dtype: int64

### Check other variables

In [197]:
for column in school_df.columns:
    print(column+" value counts")
    print(school_df[column].value_counts())

id value counts
217086      1
216667      1
177588      1
449977      1
179645      1
236993      1
476610      1
107974      1
171465      1
150987      1
130509      1
169424      1
155089      1
156417      1
226772      1
452054      1
191959      1
161244      1
213491      1
480736      1
175591      1
417257      1
181738      1
194028      1
409069      1
372329      1
431600      1
230898      1
152336      1
478643      1
           ..
23368407    1
197285      1
449214      1
187046      1
189097      1
203438      1
418481      1
190044      1
139393      1
201399      1
261773      1
467641      1
457402      1
461500      1
459453      1
476902      1
127699      1
230852      1
213215      1
209603      1
182980      1
16947910    1
447175      1
174792      1
205513      1
228042      1
406219      1
16947918    1
234191      1
149505      1
Name: id, Length: 7703, dtype: int64
location.lat value counts
0.000000     421
40.760050      2
38.655362      2
32.955170      2
34.063020      2
38.852320      2
30.325700      2
33.819000      2
34.147050      2
36.219220      2
34.060510      2
41.928952      2
42.997500      1
46.818896      1
33.026326      1
39.046353      1
29.990492      1
39.000270      1
40.692220      1
38.801695      1
39.994442      1
42.913045      1
35.200390      1
33.045208      1
40.644102      1
36.750310      1
29.311333      1
36.135301      1
39.989483      1
43.056383      1
            ...
42.686917      1
41.879646      1
40.568371      1
39.608128      1
47.656213      1
40.454415      1
36.150390      1
33.901271      1
39.305834      1
38.291923      1
41.941330      1
30.282647      1
39.697260      1
40.635963      1
34.107602      1
44.969389      1
32.675399      1
47.909189      1
40.692662      1
39.717767      1
33.435722      1
40.912476      1
29.679443      1
43.101265      1
45.041816      1
18.010869      1
39.831961      1
32.297261      1
41.556780      1
30.414983      1
Name: location.lat, Length: 7272, dtype: int64
location.lon value counts
 0.000000      421
-87.962922       2
-77.050211       2
-86.697651       2
-81.550041       2
-117.803681      2
-96.768511       2
-118.299091      2
-84.185929       1
-104.801861      1
-118.444038      1
-74.426989       1
-74.613311       1
-91.189524       1
-77.859781       1
-75.546609       1
-84.662606       1
-76.458895       1
-96.871882       1
-93.287451       1
-78.823535       1
-67.154625       1
-84.026195       1
-119.986499      1
-81.975445       1
-66.159250       1
-78.876077       1
-97.457319       1
-66.063039       1
-86.895230       1
              ...
-84.207961       1
-92.455064       1
-81.976056       1
-74.119981       1
-81.070595       1
-79.779980       1
-73.934779       1
-71.142082       1
-94.425816       1
-80.608996       1
-95.281249       1
-101.729564      1
-88.258805       1
-97.936392       1
-78.872312       1
-111.889544      1
-86.781745       1
-118.148751      1
-71.261836       1
-88.069391       1
-119.699744      1
-85.653541       1
-97.361561       1
-91.660609       1
-92.466645       1
-93.019755       1
-71.115601       1
-81.400296       1
-86.059450       1
-66.056334       1
Name: location.lon, Length: 7276, dtype: int64
accreditor value counts
North Central Association of Colleges and Schools The Higher Learning Commission                                                                      1218
National Accrediting Commission of Cosmetology Arts and Sciences                                                                                      1014
Southern Association of Colleges and Schools Commission on Colleges                                                                                    859
Middle States Commission on Higher Education                                                                                                           656
Accrediting Commission of Career Schools and Colleges                                                                                                  555
Accrediting Council for Independent Colleges and Schools                                                                                               476
Council on Occupational Education                                                                                                                      472
New England Association of Schools and Colleges Commission on Institutions of Higher Education                                                         235
Western Association of Schools and Colleges Senior Colleges and University Commission                                                                  208
Northwest Commission on Colleges and Universities                                                                                                      174
Accrediting Bureau of Health Education Schools                                                                                                         169
Western Association of Schools and Colleges Accrediting Commission for Community and Junior Colleges                                                   159
Accrediting Council for Continuing Education & Training                                                                                                103
Commission on Accrediting of the Association of Theological Schools                                                                                     76
Association of Advanced Rabbinical and Talmudic Schools                                                                                                 62
Association for Bibical Higher Educaiton                                                                                                                49
Oklahoma State Board of Career and Technology Education                                                                                                 45
Transnational Association of Christian Colleges and Schools                                                                                             41
Accreditation Commission for Education in Nursing Inc.                                                                                                  40
Commission on Massage Therapy Accreditation                                                                                                             30
Accrediting Commission for Acupuncture and Oriental Medicine                                                                                            29
American Bar Association                                                                                                                                20
Middle States Commission on Secondary Education                                                                                                         15
New York State Board of Regents State Education Department Office of the Professions (Public Postsecondary Vocational Education Practical Nursing)      14
New York State Board of Regents and the Commissioner of Education                                                                                       13
Distance Education Accrediting Commission                                                                                                               12
National Association of Schools of Arts and Design                                                                                                       9
Pennsylvania State Board of Vocational Education Bureau of Career and Technical Education                                                                7
National Association of Schools of Theatre                                                                                                               7
American Board of Funeral Service Education Committee on Accreditation                                                                                   7
Joint Review Committee on Education in Radiologic Technology                                                                                             7
National Association of Schools of Music                                                                                                                 6
Puerto Rico State Agency for the Approval of Public Postsecondary Vocational Technical Institutions and Programs                                         4
Midwifery Education Accreditation Council                                                                                                                4
Montessori Accreditation Council for Teacher Education                                                                                                   3
American Osteopathic Association                                                                                                                         3
National Association of Schools of Dance                                                                                                                 2
Council on Accreditation of Nurse Anesthesia Educational Programs                                                                                        1
American Podiatric Medical Association                                                                                                                   1
Name: accreditor, dtype: int64
branches value counts
1      5069
2       642
3       330
4       243
5       157
142     142
6       108
33       99
85       85
9        82
80       81
14       71
13       65
7        64
10       60
15       60
11       55
12       49
8        48
23       47
38       38
18       37
28       29
25       25
16       17
Name: branches, dtype: int64
city value counts
New York            89
Chicago             80
Houston             75
Los Angeles         57
Miami               53
San Antonio         52
Dallas              48
Philadelphia        46
Brooklyn            46
Atlanta             42
Jacksonville        42
Phoenix             41
Springfield         41
Portland            39
Columbus            38
Indianapolis        37
Washington          34
Pittsburgh          34
Austin              34
Nashville           33
Boston              33
San Diego           33
Columbia            32
Tampa               31
Cincinnati          30
Rochester           30
Kansas City         30
Charlotte           29
Memphis             29
Louisville          28
                    ..
Cranford             1
Nyack                1
Pewaukee             1
New Wilmington       1
Mexico               1
Friendswood          1
Spring Lake Park     1
Fort Valley          1
North Platte         1
Philippi             1
Gahanna              1
Hatfield             1
Alton                1
Pocatello            1
Bentonville          1
ARTESIA              1
Grafton              1
Hornell              1
Oregon City          1
Randolph Center      1
Natchitoches         1
Morehead City        1
Chipley              1
DeFuniak Springs     1
Phoenixville         1
Albertville          1
Marlboro             1
New Boston           1
Misenheimer          1
Norco                1
Name: city, Length: 2542, dtype: int64
degrees_awarded.highest value counts
1    2606
4    2026
2    1671
3     937
0     463
Name: degrees_awarded.highest, dtype: int64
degrees_awarded.predominant value counts
1    3343
3    2102
2    1523
0     443
4     292
Name: degrees_awarded.predominant, dtype: int64
institutional_characteristics.level value counts
1    3281
2    2249
3    2173
Name: institutional_characteristics.level, dtype: int64
instructional_expenditure_per_fte value counts
4273.0     6
3652.0     5
3886.0     5
7365.0     5
5103.0     5
2963.0     5
5111.0     5
5962.0     5
8207.0     5
3929.0     5
4627.0     5
2638.0     5
5199.0     5
2854.0     4
4572.0     4
3472.0     4
6356.0     4
5342.0     4
7851.0     4
3829.0     4
3101.0     4
4815.0     4
6080.0     4
5047.0     4
2281.0     4
4010.0     4
9026.0     4
4923.0     4
8297.0     4
3770.0     4
          ..
6304.0     1
1776.0     1
2036.0     1
604.0      1
8099.0     1
21921.0    1
10508.0    1
2469.0     1
5591.0     1
12860.0    1
3281.0     1
4912.0     1
1694.0     1
2203.0     1
9614.0     1
5097.0     1
2097.0     1
11708.0    1
8103.0     1
4362.0     1
10380.0    1
5469.0     1
4288.0     1
16162.0    1
10909.0    1
1352.0     1
1276.0     1
11392.0    1
972.0      1
720.0      1
Name: instructional_expenditure_per_fte, Length: 5446, dtype: int64
locale value counts
 21.0    1938
 11.0    1657
 13.0     984
 12.0     868
 32.0     454
 41.0     381
 33.0     340
 22.0     213
 23.0     140
 31.0     123
 42.0     119
 43.0      62
-3.0        3
Name: locale, dtype: int64
main_campus value counts
1    5685
0    2018
Name: main_campus, dtype: int64
men_only value counts
0.0    7216
1.0      66
Name: men_only, dtype: int64
minority_serving.aanipi value counts
0.0    7151
1.0     131
Name: minority_serving.aanipi, dtype: int64
minority_serving.annh value counts
0.0    7246
1.0      36
Name: minority_serving.annh, dtype: int64
minority_serving.hispanic value counts
0.0    6928
1.0     354
Name: minority_serving.hispanic, dtype: int64
minority_serving.historically_black value counts
0.0    7178
1.0     104
Name: minority_serving.historically_black, dtype: int64
minority_serving.nant value counts
0.0    7249
1.0      33
Name: minority_serving.nant, dtype: int64
minority_serving.predominantly_black value counts
0.0    7187
1.0      95
Name: minority_serving.predominantly_black, dtype: int64
minority_serving.tribal value counts
0.0    7248
1.0      34
Name: minority_serving.tribal, dtype: int64
name value counts
UEI College                                          8
McCann School of Business & Technology               7
Stevens-Henager College                              7
Columbia College                                     5
Bryan University                                     5
Wentworth Institute of Technology                    4
Academy of Cosmetology                               4
Unitek College                                       4
Western Technical College                            3
Cannella School of Hair Design-Chicago               3
CC's Cosmetology College                             3
Professional Hands Institute                         3
Interactive College of Technology                    3
Westminster College                                  3
Union College                                        3
Vista College                                        3
Southwestern College                                 3
Finger Lakes School of Massage                       3
Cambridge Institute of Allied Health & Technology    3
Westech College                                      3
National Beauty College                              3
Lincoln University                                   3
ITT Technical Institute-Madison                      3
Park West Barber School                              3
Marian University                                    3
Jenny Lea Academy of Cosmetology                     3
ITT Technical Institute-Springfield                  3
Wheaton College                                      2
Aquinas College                                      2
Institute of Technology Inc                          2
                                                    ..
Eastwick College-Ramsey                              1
Dakota Wesleyan University                           1
Germanna Community College                           1
Millikin University                                  1
Brown Mackie College-Salina                          1
M State - Detroit Lakes Campus                       1
Academy for Jewish Religion-California               1
The Salon Professional Academy-Nashville             1
Miami University-Hamilton                            1
Arnolds Beauty School                                1
North-West College-Long Beach                        1
Georgia State University                             1
Tennessee Career Institute                           1
Oglala Lakota College                                1
Career Training Academy-Lower Burrell                1
City Colleges of Chicago-Olive-Harvey College        1
Oceanside College of Beauty                          1
Lancaster School of Cosmetology                      1
Beau Monde College of Hair Design                    1
Herzing University-Atlanta                           1
Hollywood Cosmetology Center                         1
Tidewater Community College                          1
American College of Hairstyling-Des Moines           1
Hutchinson Community College                         1
The Salon Professional Academy-Onalaska              1
Harrison College-Indianapolis East                   1
Assemblies of God Theological Seminary               1
Harrison College-Grove City                          1
Wartburg College                                     1
Everest Institute-Greenspoint                        1
Name: name, Length: 7535, dtype: int64
online_only value counts
0.0    7242
1.0      40
Name: online_only, dtype: int64
operating value counts
1    6893
0     810
Name: operating, dtype: int64
ownership value counts
3    3703
1    2044
2    1956
Name: ownership, dtype: int64
region_id value counts
5    1890
2    1182
3    1147
8    1099
6     821
4     663
1     442
7     297
9     161
0       1
Name: region_id, dtype: int64
religious_affiliation value counts
-2.0      6199
 30.0      251
 71.0       94
 54.0       65
 66.0       56
 42.0       37
 80.0       36
 39.0       31
 79.0       24
 75.0       23
 88.0       20
 48.0       19
 52.0       18
 61.0       17
 74.0       17
 95.0       14
 76.0       14
 27.0       14
 99.0       12
 68.0       11
 59.0       10
 57.0       10
 73.0        8
 65.0        7
 78.0        6
 89.0        6
 69.0        6
 58.0        6
 51.0        6
 49.0        5
          ...
 55.0        4
 34.0        4
 94.0        4
 24.0        3
 41.0        3
 28.0        3
 35.0        3
 67.0        3
 81.0        3
 84.0        2
 37.0        2
 93.0        2
 33.0        2
 38.0        2
 103.0       2
 97.0        2
 43.0        2
 47.0        2
 44.0        2
 60.0        2
 87.0        1
 22.0        1
 91.0        1
 100.0       1
 105.0       1
 50.0        1
 92.0        1
 102.0       1
 36.0        1
 45.0        1
Name: religious_affiliation, Length: 61, dtype: int64
state value counts
CA    795
TX    485
NY    467
FL    446
PA    405
OH    355
IL    305
NC    210
MI    209
MA    200
MO    200
VA    190
GA    186
TN    186
NJ    165
IN    162
MN    157
PR    151
OK    150
AZ    134
CO    129
WA    127
LA    124
WI    116
SC    113
KY    110
KS    103
CT    102
MD    101
AL     97
OR     95
IA     92
AR     89
UT     83
WV     74
MS     65
NM     52
NE     50
NV     46
ME     44
NH     42
ID     42
MT     32
SD     31
ND     30
VT     28
HI     26
RI     26
DC     26
DE     19
WY     11
AK     10
GU      3
VI      2
MH      1
MP      1
PW      1
AS      1
FM      1
Name: state, dtype: int64
state_fips value counts
6     795
48    485
36    467
12    446
42    405
39    355
17    305
37    210
26    209
25    200
29    200
51    190
47    186
13    186
34    165
18    162
27    157
72    151
40    150
4     134
8     129
53    127
22    124
55    116
45    113
21    110
20    103
9     102
24    101
1      97
41     95
19     92
5      89
49     83
54     74
28     65
35     52
31     50
32     46
23     44
33     42
16     42
30     32
46     31
38     30
50     28
11     26
15     26
44     26
10     19
56     11
2      10
66      3
78      2
60      1
64      1
69      1
68      1
70      1
Name: state_fips, dtype: int64
tuition_revenue_per_fte value counts
0.0        8
7383.0     5
10081.0    5
7985.0     4
11544.0    4
11161.0    4
4733.0     4
9557.0     4
12525.0    4
18787.0    4
8413.0     4
796.0      4
1854.0     4
8053.0     4
7949.0     4
12993.0    4
7274.0     3
9441.0     3

### Recode gender-specific schools

In [230]:
school_df['gender_specific'] = np.nan_to_num((school_df.men_only + school_df.women_only).values)

In [231]:
school_df.gender_specific.value_counts()

0.0    7598
1.0     105
Name: gender_specific, dtype: int64

### Recode minority-serving schools

In [232]:
minority_specific = np.nan_to_num((school_df['minority_serving.aanipi'] +\
                        school_df['minority_serving.annh'] +\
                        school_df['minority_serving.hispanic'] +\
                        school_df['minority_serving.historically_black'] +\
                        school_df['minority_serving.nant'] +\
                        school_df['minority_serving.predominantly_black'] +\
                        school_df['minority_serving.tribal']).values)

In [233]:
minority_specific = (minority_specific > 0).astype(int)

In [234]:
school_df['minority_specific'] = minority_specific

### Recode for-profit vs. non-profit (private or public) for initial classification

In [247]:
school_df['for_profit'] = (school_df.ownership == 3).astype(int)

In [250]:
school_df.for_profit.value_counts()

0    4000
1    3703
Name: for_profit, dtype: int64

In [251]:
school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 36 columns):
id                                      7703 non-null int64
location.lat                            7703 non-null float64
location.lon                            7703 non-null float64
accreditor                              6805 non-null object
branches                                7703 non-null int64
city                                    7703 non-null object
degrees_awarded.highest                 7703 non-null int64
degrees_awarded.predominant             7703 non-null int64
institutional_characteristics.level     7703 non-null int64
instructional_expenditure_per_fte       7270 non-null float64
locale                                  7282 non-null float64
main_campus                             7703 non-null int64
men_only                                7282 non-null float64
minority_serving.aanipi                 7282 non-null float64
minority_serving.annh                   7282 non-null float64
minority_serving.hispanic               7282 non-null float64
minority_serving.historically_black     7282 non-null float64
minority_serving.nant                   7282 non-null float64
minority_serving.predominantly_black    7282 non-null float64
minority_serving.tribal                 7282 non-null float64
name                                    7703 non-null object
operating                               7703 non-null int64
ownership                               7703 non-null int64
region_id                               7703 non-null int64
religious_affiliation                   7109 non-null float64
state                                   7703 non-null object
state_fips                              7703 non-null int64
tuition_revenue_per_fte                 7270 non-null float64
under_investigation                     7703 non-null int64
women_only                              7282 non-null float64
accredited                              7703 non-null int64
locale_recode                           7703 non-null int64
religion_recode                         7703 non-null int64
gender_specific                         7703 non-null float64
minority_specific                       7703 non-null int64
for_profit                              7703 non-null int64
dtypes: float64(16), int64(16), object(4)
memory usage: 2.1+ MB

### Pare down to relevant columns and remove nulls

In [253]:
cleaned_school_df = school_df.drop(['accreditor', 'locale', 'men_only',
                                    'minority_serving.aanipi', 'minority_serving.annh',
                                    'minority_serving.hispanic', 'minority_serving.historically_black',
                                    'minority_serving.nant', 'minority_serving.predominantly_black',
                                    'minority_serving.tribal', 'religious_affiliation', 'state', 
                                    'state_fips','women_only'], axis = 1)

In [256]:
cleaned_school_df = cleaned_school_df.loc[cleaned_school_df.tuition_revenue_per_fte.notnull()]

In [257]:
cleaned_school_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7270 entries, 0 to 7702
Data columns (total 22 columns):
id                                     7270 non-null int64
location.lat                           7270 non-null float64
location.lon                           7270 non-null float64
branches                               7270 non-null int64
city                                   7270 non-null object
degrees_awarded.highest                7270 non-null int64
degrees_awarded.predominant            7270 non-null int64
institutional_characteristics.level    7270 non-null int64
instructional_expenditure_per_fte      7270 non-null float64
main_campus                            7270 non-null int64
name                                   7270 non-null object
operating                              7270 non-null int64
ownership                              7270 non-null int64
region_id                              7270 non-null int64
tuition_revenue_per_fte                7270 non-null float64
under_investigation                    7270 non-null int64
accredited                             7270 non-null int64
locale_recode                          7270 non-null int64
religion_recode                        7270 non-null int64
gender_specific                        7270 non-null float64
minority_specific                      7270 non-null int64
for_profit                             7270 non-null int64
dtypes: float64(5), int64(15), object(2)
memory usage: 1.3+ MB

## Select columns for classification

In [259]:
X = cleaned_school_df.drop(['id', 'city', 'name', 'ownership', 'region_id', 'for_profit'], axis = 1)
y = cleaned_school_df.for_profit

In [262]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [263]:
log_model = LogisticRegression(penalty='l1')

In [264]:
log_model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [269]:
pred_ownership = log_model.predict(X_test)

In [270]:
accuracy_score(y_test, pred_ownership)

0.91746905089408526

In [272]:
precision_score(y_test, pred_ownership)

0.89914772727272729

In [273]:
recall_score(y_test, pred_ownership)

0.92815249266862165

In [274]:
f1_score(y_test, pred_ownership)

0.91341991341991347

In [276]:
list(zip(X.columns, log_model.coef_[0]))

[('location.lat', -0.056715394249809988),
 ('location.lon', -0.018223139969331177),
 ('branches', 0.10757523176757297),
 ('degrees_awarded.highest', -0.45152923649317228),
 ('degrees_awarded.predominant', -0.99718814418267798),
 ('institutional_characteristics.level', 0.6739526444619196),
 ('instructional_expenditure_per_fte', -0.00037524157493103427),
 ('main_campus', -0.57040602366387405),
 ('operating', -2.3910830362947517),
 ('tuition_revenue_per_fte', 0.00027740487284229592),
 ('under_investigation', 1.2372291616364712),
 ('accredited', 0.91363119510898316),
 ('locale_recode', 0.063109823159900727),
 ('religion_recode', -5.5769982494035464),
 ('gender_specific', -0.13043050134489137),
 ('minority_specific', -5.948137078137365)]