In [45]:
from sqlalchemy import create_engine
import os
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load API key for data.gov

with open('data_gov_api.txt', 'r') as file:
    api_key = file.read().split('\n')[0] # Remove new line

## Download College Scorecard Data Dictionary

In [2]:
data_dir = os.path.join(os.path.curdir, "data")
if not os.path.exists(data_dir):
    os.makedirs(data_dir)

data_dict_url = "https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx"

data_dict_file = data_dict_url.split('/')[-1]

data_dict_path = os.path.join(data_dir, data_dict_file)

if not os.path.exists(data_dict_path):
    req = requests.get(data_dict_url)
    
    with open(data_dict_path, 'wb') as file:
        file.write(req.content)

## Load into memory and find target variable

In [3]:
sc_data_dict = pd.read_excel(data_dict_path, sheetname='data_dictionary')

In [82]:
sc_data_dict.iloc[300]

NAME OF DATA ELEMENT       Percentage of degrees awarded in Architecture ...
dev-category                                                       academics
developer-friendly name                      program_percentage.architecture
API data type                                                          float
VARIABLE NAME                                                         PCIP04
VALUE                                                                    NaN
LABEL                                      Architecture and Related Services
SOURCE                                                                 IPEDS
NOTES                                        Shown/used on consumer website.
Name: 300, dtype: object

In [14]:
sc_data_dict.iloc[25:28, :]

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
25,Control of institution,school,ownership,integer,CONTROL,1.0,Public,IPEDS,Shown/used on consumer website.
26,NaN,school,NaN,NaN,NaN,2.0,Private nonprofit,NaN,NaN
27,NaN,school,NaN,NaN,NaN,3.0,Private for-profit,NaN,NaN

In [92]:
collegesc_api = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
payload = {'api_key' : api_key, 'school.ownership' : 3, '_fields' : 'id,school.name,school.ownership'}

req = requests.get(collegesc_api, params=payload)

In [93]:
test = pd.DataFrame(req.json()['results'])

In [94]:
test

,id,school.name,school.ownership
0,121983,Argosy University-San Francisco Bay Area,3
1,434973,University of Phoenix-Maryland,3
2,436030,Hair Academy II,3
3,436067,Pryor Beauty College,3
4,436191,Vatterott College-Sunset Hills,3
5,436270,Utah College of Massage Therapy-Utah Valley,3
6,149499,Tri-County Beauty Academy,3
7,108065,Velvatex College of Beauty Culture,3
8,436483,National American University-Bloomington,3
9,436599,FINE Mortuary College,3
10,436632,The Medical Arts School,3
11,436641,Fortis College-Foley,3
12,436650,Medical Training College,3
13,436702,Mattia College,3
14,434566,ITT Technical Institute-Albany,3
15,434575,ITT Technical Institute-Liverpool,3
16,434812,Centura College-North Charleston,3
17,434821,Blue Cliff College-Metairie,3
18,434830,Creative Images Institute of Cosmetology-North...,3
19,437042,ITT Technical Institute-Saint Rose,3

In [96]:
req.json()['results']

[{'id': 121983,
  'school.name': 'Argosy University-San Francisco Bay Area',
  'school.ownership': 3},
 {'id': 434973,
  'school.name': 'University of Phoenix-Maryland',
  'school.ownership': 3},
 {'id': 436030, 'school.name': 'Hair Academy II', 'school.ownership': 3},
 {'id': 436067, 'school.name': 'Pryor Beauty College', 'school.ownership': 3},
 {'id': 436191,
  'school.name': 'Vatterott College-Sunset Hills',
  'school.ownership': 3},
 {'id': 436270,
  'school.name': 'Utah College of Massage Therapy-Utah Valley',
  'school.ownership': 3},
 {'id': 149499,
  'school.name': 'Tri-County Beauty Academy',
  'school.ownership': 3},
 {'id': 108065,
  'school.name': 'Velvatex College of Beauty Culture',
  'school.ownership': 3},
 {'id': 436483,
  'school.name': 'National American University-Bloomington',
  'school.ownership': 3},
 {'id': 436599, 'school.name': 'FINE Mortuary College', 'school.ownership': 3},
 {'id': 436632,
  'school.name': 'The Medical Arts School',
  'school.ownership': 3},
 {'id': 436641, 'school.name': 'Fortis College-Foley', 'school.ownership': 3},
 {'id': 436650,
  'school.name': 'Medical Training College',
  'school.ownership': 3},
 {'id': 436702, 'school.name': 'Mattia College', 'school.ownership': 3},
 {'id': 434566,
  'school.name': 'ITT Technical Institute-Albany',
  'school.ownership': 3},
 {'id': 434575,
  'school.name': 'ITT Technical Institute-Liverpool',
  'school.ownership': 3},
 {'id': 434812,
  'school.name': 'Centura College-North Charleston',
  'school.ownership': 3},
 {'id': 434821,
  'school.name': 'Blue Cliff College-Metairie',
  'school.ownership': 3},
 {'id': 434830,
  'school.name': 'Creative Images Institute of Cosmetology-North Dayton',
  'school.ownership': 3},
 {'id': 437042,
  'school.name': 'ITT Technical Institute-Saint Rose',
  'school.ownership': 3}]